body{
    background-color: white;
}
/* nous ciblons chacun des titres pour appliquer couleur bleue et centrage du texte, et police personnalisée */
h1, h2, h3, h4, h5, h6{
    color: blue;
    text-align:center;
    font-family: "Pacifico-Regular";
}

/* on cible les éléments ayant la classe active pour highlighter le menu en cours */
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
    color : #FFFF;
    font-weight: bold;
}
.navbar{
    z-index: 1;
    margin:0;
    padding:0;
    min-height: 5em;
    background-color: rgba(197, 170, 17, 0.7) !important;
    -webkit-background-size: cover;
    background-size: cover;
    position: sticky;
    top: 0;  
 }

#carrou {
    width : 80%;
    height: 100vh;
}
body,html{
    height:100%;
    margin: 0;
    padding: 0;
    
}
/* conteneur pour forcer le footer en bas de la page */
.pageperso{
    margin: 0 auto;
    min-height: 100%;
}
footer{
    min-height: 40px;
    width:100%;
    bottom:0; left:0;
    color : white;
}

footer.bg-primary{
    background-color:rgba(197, 170, 17, 0.7) !important;
}

h1{
    color: deepskyblue;
}
/*
style pour le calendrier*/



/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    min-height:30em;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.streamCalendar{
    background-color: #002B36;
    border-radius: 8px;
    color:white;
}
.fc-today {
    background:none !important;
    border: none !important;
    border-top: 1px solid #ddd !important;
    font-weight: bold;
}

table .table-bordered{
    border-top-left-radius: 15px 8px;
    border-top-right-radius: 15px 8px;
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

  /*-----------CSS FRONT-------------------------*/
  .slide1 {
    width:100%;
    height:100%;
   min-height: 35em;
    background: url("../img/apex-legends_0640038401658422.jpg") center 0 no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
 }
 .slide3 {
    margin:0;
   padding:0;
   width:100%;
   min-height: 30em;
    background: url("../img/apex-legends_0640038401658422.jpg") center 0 no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
 }

 /*-------------Effet Flip-box-----------*/
 .flip-box {
    background-color: transparent;
    width: 100%;
    height: 500px;
   /* Remove perspective this if you dont't want the 3D effect */
    perspective: 2500px; 
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
    background : url("../img/img1.jpg") center 0 no-repeat fixed;
     /* width:100%; */
     /* height:100%; */
   
    color: white;
  }
  
  /* Style the back side */
  .flip-box-back {
    background: url("../img/dota2.jpg") center 0 no-repeat fixed;
    /* width:100%;
    height:100%; */
    color: white;
    transform: rotateY(180deg);
  }