<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>activate</title>
</head>
<body>
    <h1>changement de votre statut sur StreamCalendar</h1>

   <p> Féliciation {{ user.name }}, votre compte a été validé en tant que streamer sur notre plateforme.
       Vous pouvez dès à présent annoncer à vos followers votre agenda!!!
   </p>
   <p>Merci de votre confiance</p>
   <a href="{{ url('home') }}">StreamCalendar</a>
        
</body>
</html>