<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>activate</title>
</head>
<body>
    <h1>Refus du changement de votre statut sur StreamCalendar</h1>

   <p> Bonjour {{ user.name }}, nous n'avons pas pu donner suite à votre demande d'évolution de votre compte vers un profil streamer car nous n'avons pas pu confirmer votre statut de streamer sur la plateforme twitch.
       pensez à diffuser le code que nous vous avons envoyé par mail lors de votre demande dans votre fil de discussion sur votre chaîne.

       Contactez nous à ce moment là  pour retenter de modifier votre compte.
   </p>
   <p>Merci de votre confiance</p>
   <a href="{{ url('home') }}">StreamCalendar</a>
        
</body>
</html>