{% extends "base.html.twig" %}

{% block title %}activation{% endblock %}

{% block body %}
    <h1>page d'activation</h1>

    <p class="bg-success text-white text-center col-12 col-md-6 mx-auto mt-4">votre compte est activé</p>
{% endblock %}