{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}
{% block body %}
    <h1 class="text-center">Administration</h1>

    <div class="container">
        <div class="row">
            <h5 class="text-center"></h5><br>
            <p id="infoGames"></p>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

<script>

// Function to escape HTML metacharacters
    function escapeHtml(text) {
        text = text.toString();
        var map = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#039;'
        };
    return text.replace(/[&<>"']/g, function(m) { return map[m]; });
    }

    // Function to create a #view to display Ajax inqiry response.
    function initView(){
        //$('#view').remove();
        $('body').append('<div id="infoGames"></div>');
    }   
   
    // AJAX inquiry on Twitch API Game for fetching the first 100 Games currently on air
    function(IdontKnow) {
        $.ajax({
            type: 'GET',
            url: 'https://api.twitch.tv/helix/games/top?first=100',
            dataType: 'json',
            timeout: 30000,
            headers: {
                'Client-ID': '04zu3b1v2s1h7dpk5m4om1q6mgck5s'
            },          
            success: function(data){
            initView();
            let i=1;
                data.data.forEach(function(games){
                    
                    $('#infoGames').append(`
                    <p class="left">user by ID ` + i + `</p>
                    <p class="left">Games id : ` + games.id + `</p>
                    <p class="left">Games name : ` + games.name + `</p>
                    <p class="left">Lien de l'image Games : ` + games.box_art_url + `</p>`);
                    i++;
                });  
            console.log(data)
            },
            //var_dump(json_decode(data));
            
            error: function(){
                // AJAX quiry failed
                displayMsg('Erreur lors de la récupération des données');
            }
        });
    }

</script>
{% endblock %}