{% extends "base.html.twig" %}
{% block title %}accueil{% endblock %}
{% block body %}

<div class="slide1">
    <h1 class="text-center">Accueil</h1>
</div>
    <div class="row">
        <div class="slide3">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="row">
                            <div class="col-md-4">
                                
                            </div>
                            <div class="col-md-4 boxViewer">
                                <h2>Viewer</h2>
                                <p>Pour suivre les événemennts vos streamers préféré</p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius aut officiis vero nostrum aliquid eos doloremque eveniet totam corporis. Recusandae exercitationem veniam porro! Sit recusandae alias dignissimos optio minima explicabo.</p>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <div class="row">
                            <div class="col-md-4">
                            
                            </div>
                            <div class="col-md-4 boxStreamer">
                                <h2>Streamer</h2>
                                <p>Pour les streamer qui veulent noté les dates de leur événement vidéo</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, blanditiis. Vero tenetur totam accusantium ratione facere sunt distinctio illum nesciunt quo consequuntur quisquam, autem excepturi quibusdam quos fugiat ut fuga.</p>
                            </div>
                            <div class="col-md-4">
                            
                            </div>
                        </div>  
                    </div>  
                </div>
            </div> 
        </div>	
    </div>
<div class="slide1">
</div>






{% endblock %}
