{% extends "base.html.twig" %}
{% block title %}accueil{% endblock %}
{% block body %}

<div class="slide1">
    <h1 class="text-center">Accueil</h1>
</div>
    <div class="row">
        <div class="slide3">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <div class="row">
                            <div class="col-md-4">
                                
                            </div>
                            <div class="col-md-4 boxViewer">
                                <h2>Viewer</h2>
                                <p>Pour suivre les évènements de vos streamers préférés</p>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                    <div class="flip-box-back">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4 boxStreamer">
                                <h2>Streamer</h2>
                                <p>Pour les streamers qui veulent noter les dates de leurs évènements vidéo</p>
                            </div>
                            <div class="col-md-4">            
                            </div>
                        </div>  
                    </div>  
                </div>
            </div> 
        </div>	
    </div>
<div class="slide1">
</div>

{% endblock %}
