{% extends "base.html.twig" %}
{% block title %}accueil{% endblock %}
{% block body %}

<div class="slide1">
    <h1 class="text-center">Accueil</h1>
</div>
    <div class="row">
        <div class="slide3">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <h2>Viewer</h2>
                        <p>Pour suivre les événemennts vos streamers préféré</p>
                    </div>
                    <div class="flip-box-back">
                        <h2>Streamer</h2>
                        <p>Pour les streamer qui veulent noté les dates de leur événement vidéo</p>
                    </div>
                </div>
            </div> 
        </div>	
    </div>
<div class="slide1">
</div>

{% endblock %}
