{% extends "base.html.twig" %}
{% block title %}
connexion
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4 boxLogin">
                <h1>Connexion</h1>
            {# bootstrap connexion form #}
            {% if success is defined %}
                <p class="text-white rounded text-center" style="font-size:2em">vous êtes connecté</p>

            {% else %}
                <form class="form-group" action="{{ path('login') }} " method="POST">
                    <fieldset>
                        <label for="email">email</label>
                        
                        <input class="form-control fas fa-sign-in-alt" type="text" name="email" placeholder="email">
                        {% if errors.email is defined %}
                        <p class="bg-danger text-white rounded text-center">email invalide</p>
                        {% endif %}
                        <label for="password">password</label>
                        <input class="form-control" type="password" name="password" placeholder="password">
                        {% if errors.password is defined %}
                        <p class="bg-danger text-white rounded text-center">mot de passe invalide</p>
                        {% endif %}
                        {% if errors.login is defined %}
                        <p class="bg-danger text-white rounded text-center">email ou mot de passe incorrect</p>
                        {% endif %}
                        {% if errors.inactiveAccount is defined %}
                        <p class="bg-danger text-white rounded text-center">Veuillez activer votre compte</p>
                        {% endif %}
                        <input class="btn btn-primary col-12 col-md-4 mt-3" type="submit" value="Valider">
                    </fieldset>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
