{% extends 'base.html.twig' %}

{% block title %}déconnexion{% endblock %}
  
  {% block body %}
  
  
  <div class="col-md-4 offset-md-4 boxLogin">
      <h1>Déconnexion</h1>
        <p class="text-center text-white "  style="font-size:2em">vous êtes déconnecté</p>
    </div>


    {% endblock %}