{% extends 'base.html.twig' %}

{% block title %}déconnexion{% endblock %}
  
  {% block body %}
  <h1>Déconnexion</h1>
      

   
        <p style="color:green">vous êtes déconnecté</p>



    {% endblock %}