{% extends 'base.html.twig' %}

{% block title %}déconnexion{% endblock %}
  
  {% block body %}
  <h1>Déconnexion</h1>
      

   
        <p class="col-md-4 offset-md-4 text-centertext-white boxLogin">vous êtes déconnecté</p>



    {% endblock %}