{% extends "base.html.twig" %}
{% block title %}Administration Update Games{% endblock %}
{% block body %}
    <h1 class="text-center">Administration Update Games</h1>

    <div class="container-fluid">
        <div class="row">
                <div id="infoGames"></div>
        </div>
        
    </div>

{% endblock %}
{% block javascripts %}

<script src="{{ asset('js/scriptUpdateGames.js') }}"></script>
<script>
    var targetUpdateGames = '{{ url('updateGames') }}';
</script>
{% endblock %}