{% extends "base.html.twig" %}
{% block title %}Administration Update Games{% endblock %}
{% block body %}
    <h1 class="text-center">Administration Update Games</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto " id="infoResult" style="min-height:80px;">
                {#<h4  advice user whether or not game has been successfully saved in database #}
            </div>
        </div>
        <div class="row">
            <div id="infoGames"></div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
<script>
    var gL1='{{gList}}'.replace(/{&quot;/g,'"'); // string including twitch_code of all games already recorded in the database 
    var gL2=gL1.replace(/&quot;}/g,'"');
    var gL3=gL2.replace(/&quot;/g,'"');
    var gL4= gL3.replace(/"twitch_code":/g,'');
    var gList=JSON.parse(gL4); // we finaly get it back into an array
    var targetsendResp = '{{ url('sendResp') }}';
</script>
<script src="{{ asset('js/scriptUpdateGames.js') }}"></script>
<script>
    // url leading to the code for form treatment 
    var targetUpdateGames = '{{ url('updateGames') }}';
</script>
{% endblock %}