{% extends "base.html.twig" %}
{% block title %}mon calendrier{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.1.0/main.min.css">
{% endblock %}

{% block body %}

<div class="container containerViewCal">
    <h1 class="text-left" style="margin-top:10px;margin-bottom:8px;">mon calendrier</h1>
    <div class="row">
        <div id="viewerCalendar" class="col-12 col-md-9 mx-auto mb-3 p-3 streamCalendar"></div>
        <div id="modalPlace"></div>
        <div class="col-12 col-md-3">
            <h6 class="streamerFav text-left" style="text-justify:auto;border-bottom:solid rgba(0, 105, 217,0.8) 1px;">streamers suivis :</h6>
            <div>
                <ul>
                    {% for fav in favStream %}
                        <li class="list-unstyled text-left">{{fav.name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        var extractFavoritesEvents = '{{ url('extractFavoritesEvents') }}';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/locales/fr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.1.0/main.min.js"></script>
    <script src="{{asset('js/scriptViewerCalendar.js')}}" type="text/javascript"></script>
{% endblock %}