{% extends "base.html.twig" %}

{% block body %}
<div id="test" class="container mt-5">
        <div class="text-center">
            <img  class="image1 " src="{{ asset('img/erreur403.jpg') }}" alt="image de logo">
        </div>
        <h2 class="mt-5 mb-5">Désolé, la page demandée est introuvable !</h2>
        <div class="text-center">
            <img class="image2" src="{{ asset('img/la-petite-mort.jpg') }}" alt="image de personnage">
        </div>
    </div>
        
{% endblock %}